body {
	color: #000;
 	font-family: Sans-Serif;
}
* {
	margin: 0;
	padding:0;
	outline: 0;
}
a, a:visited, a:active {
	text-decoration: none;
	color: #000
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#raincoat {
	width:960px;
	margin: 0 auto;
}
.head {
	margin-left: 231px;
	width:730px;
	height:50px;
	margin-bottom: 80px;
}
.head ul {
	display: table;
	border-collapse: collapse;
	height:100%;
	width: 100%;
	list-style-type: none;
}
.head ul li {
	display: table-cell;
	vertical-align: middle;
	width:20%;
	height:100%;
	text-align: center;
}
.head ul li a {
	padding:16px 0;
}
.sidebar {
	width: 215px;
	padding-bottom: 20px;	
	float:left;
}
.sidebar h3 {
	text-align: right;
	font-size: 16px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.sidebar p {
	text-align: right;
}
.content {
	width:700px;
	float:right;
}
.content .primary-headline {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.landingpage-hero {
	width: 680px;
	height: 394px;
	background-color: #00ffff
}
.shirt {
	padding-bottom: 20px;
}
.belt {
	height:5px;
	background-color:green; 
}
.trousers {
	padding:20px;
}
.trousers ul{
	list-style-type: none;
	width: 880px;
	margin: 0 auto;
}
.trousers ul li {
	/*margin-left: 20px;*/
	margin-bottom: 20px;
	border: 1px solid #ddd;
	height: 198px;
	width: 291px;
	position: relative;
	float: left;
}
.trousers ul li img{
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	height: 100%;
	position: absolute;
}
.feet {
	height: 56px;
	border-top: 1px solid #ddd;
}

img.sliphoveritem{
	z-index: 50;
}
div.sliphoveritem{
	z-index: 60;
}